.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,5,41,1) 0%, rgba(2,11,47,1) 25%, rgba(26,69,93,1) 75%, rgba(0,212,255,1) 100%);
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,5,41,1) 0%, rgba(2,11,47,1) 25%, rgba(26,69,93,1) 75%, rgba(0,212,255,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-group-text{
  display: block; width: 100px;
}




