
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,5,41,1) 0%, rgba(2,11,47,1) 25%, rgba(26,69,93,1) 75%, rgba(0,212,255,1) 100%);
}
.white{
  background-color: white;
  border-radius: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
label { display: block; width: 100px; } */